footer {
	height: 214px;
	background-color: #6278F7;
	background-image: url('/public/images/fundo.png');
}

footer .content {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

.contact, .logo, .developed {
	display: flex;
	justify-content: center;
	width: 100%;
}

footer .contact img {
	margin: 17px;
}

footer .logo img {
	height: 64px;
}

footer .developed label {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
	footer .content {
		justify-content: space-around;
		flex-direction: column;
	}

	footer {
		background-size: cover;
	}
}